<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>约嘛</key>
	<string>叔叔我们不约</string>
	<key>傻逼</key>
	<string>操你妈！</string>
	<key>好</key>
	<string>好你妹！</string>
	<key>呵</key>
	<string>嘿嘿嘿</string>
	<key>哈</key>
	<string>蠢货</string>
	<key>赞</key>
	<string>滚蛋</string>
	<key>你好</key>
	<string>你好</string>
	<key>叫</key>
	<string>我叫大帅哥</string>
	<key>逗</key>
	<string>因为我帅</string>
	<key>nmb</key>
	<string>傻逼</string>
	<key>嗨</key>
	<string>Hello！</string>
	<key>hello</key>
	<string>嗨！</string>
	<key>你是谁</key>
	<string>我是智能机器人Jobs</string>
	<key>二</key>
	<string>因为我就是这么二</string>
	<key>多大</key>
	<string>我已经升天了</string>
	<key>几岁</key>
	<string>我已经升天了</string>
</dict>
</plist>
